apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - patch: |-
      apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: opentelemetry-demo
      spec:
        values:
          components:
            frontend-proxy:
              service:
                type: LoadBalancer
